<html>
<head>
  <title>课程表</title>
  <link rel="stylesheet" href="../../lib/css/iframe.css" type="text/css"/>
  <script type="text/javascript">


    $(document).ready(function(){
      $('#updateTable').hide();
      var up;
       $(".updateBtn").click(function(){
         up= $(this);
         var name = $(this).data('name');
         $("#updatename").val(name);
         var id = $(this).data('id');
         $("#updateid").val(id);
         $("#updateTable").show();
       });

       $("#reupdate").click(function(){
         $("#updateTable").hide();
         var datastr = $("#updateform").serialize();
         $.ajax({
           type: "POST",
           url:"/web/home/class/update",
           data:datastr,
           dataType:"json",
           error: function(){
             console.log('sd!!!!!kl');
           },
           success: function(data) {
//             var jss=JSON.parse(data);
              console.log(data.classname);
//             up.closest("tr").children(0).val(data.classname);
//             up.closest("tr").children(1).val(data.time);
//             up.closest("tr").children(2).val(data.coach);
             history.go(0);
           }
         });
        });

      $(".delBtn").click(function(){
        var button = this;
        var id=$(this).data('id');
         $.ajax({
           type: "POST",
           url:"/web/home/class/"+id,
//           error: function() {
//             alert(id);
//           },
           success: function() {
             button.closest("tr").remove();
           }
         });
      });
    });
  </script>

</head>

<body>


<div>
  <table  class="table table-bordered" >
    <tr style="background-color: #cccccc">
      <td id="ClassId" style="display: none">id</td>
      <td >课程</td>
      <td >时间</td>
      <td >教练</td>
      <td></td>
      <td></td>
    </tr>
    <tr ng-repeat="cls in clss">

      <td>{{cls.classname}}</td>
      <td>{{cls.time}}</td>
      <td>{{cls.coach}}</td>
      <td><a ng-click="delCls(cls.idClass)">删除</a></td>
      <td><a ng-click="updateCls(cls.idClass,cls.classname,cls.coach)">修改</a></td>
    </tr>

  </table>


  <h2 >添加新课程</h2>
  <table style="border: none">
    <tr>
      <td>课程:</td>
      <td><input name="classname" type="text" ng-model="cls.classname"/></td>
    </tr>
    <tr>
      <td>时间:</td>
      <td><input name="time" type="date" ng-model="cls.time"/></td>

    </tr>
    <tr>
      <td>教练:</td>
      <td>
        <select name="coach" ng-model="cls.coach">

          <option ng-repeat="coach in coachs">{{coach.name}}</option>

        </select>
      <button  type="button" ng-click="addCls(cls)" >添加</button></td>
    </tr>
  </table>
<br/>
  <table id="updateTable" style="border: none;">
    <tr>
      <td>课程:</td>
      <td style="display: none">
        <input id="updateid" name="updateid" type="text"/></td>

      <td><input id="updatename" name="updateclassname" type="text"/></td>
    </tr>
    <tr>
      <td>时间:</td>
      <td><input id="updatetime" name="updatetime" type="date"/></td>

    </tr>
    <tr>
      <td>教练:</td>
      <td>
        <select id="updatecoach">
          <option ng-repeat="coach in coachs">{{coach.name}}</option>
        </select>
      <button id="reupdate" >修改</button></td>
    </tr>
  </table>

</div>
</body>
</html>
