<html>
<head>
    <title></title>
    <link rel="stylesheet" href="../../lib/css/iframe.css" type="text/css"/>

</head>
<body>
<table  class="table table-bordered" >
    <tr style="background-color: #cccccc">

            <td id="CusId" style="display: none">id</td>
            <td style="background-color: #cccccc">顾客</td>
            <td style="background-color: #cccccc">私教</td>
        <td></td>
        </tr>
    <tr ng-repeat="cus in cuss">

        <td>{{cus.customer}}</td>
        <td>{{cus.coach}}</td>
        <td><input class="delBtn"  type="button" value="删除" ng-click="delCus(cus.idCustomer)"></td>
        <!--<td><input class="updateBtn" type="button" value="修改" ng-click="updateCls(cls.idClass,cls.classname)"></td>-->
    </tr>
    </table>

    <table  style="border: none" >
        <tr style="background-color: #cccccc">
        <tr>
            <td>顾客:</td>
            <td><input name="customer" type="text"/></td>
        </tr>
        <tr>
            <td>私教:</td>
            <td><select name="coach">
                <option ng-repeat="coach in coachs">{{coach.name}}</option>
            </select>
            <button  type="button" >添加</button></td>
        </tr>
    </table>


</body>
</html>
