<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../lib/css/bootstrap.min.css" />
</head>

<body ng-app="users_management">
<h1 style="text-align: center">健身房管理系统</h1>
<div class="container">
    <nav class="navbar navbar-default" style="background-color: #461616;font-size: 19;" >
            <ul class="nav navbar-nav">

                <li><a href="#/regist_emp" >雇员登记</a></li>
                <li><a href="#/class" >课程信息</a></li>
                <li><a href="#/private" >私教预约查询</a></li>
                <li><a href="#/customer" >顾客信息</a></li>
                <li><a href="#/user" >用户管理</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="margin-right: 20"><a type="button" href="./logout">退出登录</a></li>
            </ul>
    </nav>

    <div ng-view="fdfd"></div>


    <script src="../../lib/js/jquery-1.11.1.min.js"></script>
    <script src="../../lib/js/bootstrap.min.js"></script>
    <script src="../../lib/js/angular.min.js"></script>
    <script src="../../lib/js/angular-route.js"></script>

    <script src="../app.js"></script>


    <script src="../controller/regist_emp.js"></script>
    <script src="../controller/class.js"></script>
    <script src="../controller/customer.js"></script>
    <script src="../controller/private.js"></script>
    <script src="../controller/user.js"></script>

</div>



</body>
</html>