<html>
<head>
    <title>私教预约</title>
  <link rel="stylesheet" href="../../lib/css/iframe.css" type="text/css"/>

</head>
<body>


<form method="post" action='/web/home/private/selecttime'>
  <table  class="table table-bordered" >
    <tr style="background-color: #cccccc">
      <td>时间:</td>
      <td><input name="time" type="date"/></td>
      <td><button name="submit" type="button"  >查询</button></td>
    </tr>
  </table>
</form>
<form method="post" action='/web/home/private/selectcoach'>
  <table  class="table table-bordered" >
    <tr style="background-color: #cccccc">
      <td>教练:</td>
      <td>
        <select name="coach">
          <option ng-repeat="coach in coachs">{{coach.name}}</option>

        </select>
      </td>

      <td><button name="submit" type="button"  >查询</button></td>
    </tr>
  </table>
</form>

<form method="get" action='/web/home/private' >
  <table  class="table table-bordered" >
    <tr style="background-color: #cccccc">
      <td id="ClassId" style="display: none">id</td>
      <td style="background-color: #cccccc">时间</td>
      <td style="background-color: #cccccc">教练</td>
    </tr>
    <tr ng-repeat="pri in pris">

      <td>{{pri.time}}</td>
      <td>{{pri.coach}}</td>
    </tr>
  </table>
</form>


<form method="post" action='/web/home/private/date'>
  <table  class="table table-bordered" >
    <tr style="background-color: #cccccc">
    <tr>
      <td>时间:</td>
      <td><input name="datetime" type="date"/></td>
      <td>教练:</td>
      <td>
        <select name="datecoach">
          <option ng-repeat="coach in coachs">{{coach.name}}</option>

        </select>
      </td>
      <td><button name="submit" type="button"  >预约</button></td>
    </tr>
  </table>
</form>

</body>
</html>
