<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
  <link rel="stylesheet" href="../../lib/css/iframe.css" type="text/css"/>

</head>
<body>

<table  class="table table-bordered" >
  <tr style="background-color: #cccccc">
    <td id="listUserId" style="display: none">id</td>
    <td >工号</td>

    <td >用户名</td>
    <td >注册邮箱</td>
<td></td>
  </tr>


  <tr ng-repeat="user in users">

    <td>{{user.emp.idEmployee}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td><input class="delBtn"  type="button" value="删除" ng-click="delUser(user.idUser)"></td>
    <!--<td><input class="updateBtn" type="button" value="修改" ng-click="updateCls(cls.idClass,cls.classname)"></td>-->
  </tr>
</table>

</br>


</body>
</html>
<!--<%String Login = (String)request.getSession().getAttribute("Login");-->

<!--if (Login != null && Login.equals("OK"))-->
<!--{-->
<!--//request.getSession().invalidate();-->
<!--}-->
<!--else-->
<!--{-->
<!--Cookie[] cookieid=request.getCookies();-->
<!--String url="/home/user";-->
<!--for(int i=0;i<cookieid.length;i++) {-->
<!--if (cookieid[i].getName().equals("url_jump"))-->
<!--{-->
<!--cookieid[i].setValue(url);-->
<!--}-->
<!--else-->
<!--{-->
<!--Cookie cookie_url = new Cookie("url_jump", url);-->
<!--cookie_url.setPath("/");-->
<!--response.addCookie(cookie_url);-->
<!--}-->
<!--}-->

<!--response.setHeader("Refresh","0;URL=/web");-->
<!--}-->
<!--%>-->